/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock

/.tauri
/target
Cargo.lock
node_modules/

dist-js
dist

clip_record.db
clip_record.db-shm
clip_record.db-wal

/src-tauri/target/
/src-tauri/gen/schemas

/resources/*